.container {
  display: flex;
}

main {
  width: 100%;
  padding: 20px;
  margin-left: 200px; /* Adjust margin to make space for the fixed sidebar */
}

.sidebar {
  background: #050a24;
  color: #d1d5db;
  height: 100vh;
  width: 200px;
  transition: all 0.5s;
  position: fixed; /* Make the sidebar sticky */
  top: 0; /* Stick to the top of the viewport */
  left: 0; /* Stick to the left side of the viewport */
}

.top_section {
  display: flex;
  align-items: center;
  padding: 20px 15px;
}

.logo {
  font-size: 30px;
}

.bars {
  display: flex;
  font-size: 25px;
  margin-left: 50px;
  cursor: pointer;
}

.link {
  display: flex;
  color: #fff;
  padding: 20px 15px;
  gap: 15px;
  transition: all 0.5s;
  text-decoration: none;
  align-items: center;
}

.link:hover {
  background: lightblue;
  color: black;
  transition: all 0.5s;
}

.active {
  background: lightskyblue;
  color: black;
}

.icon,
.link_text {
  font-size: 15px;
}
